@charset "utf-8";

.contents {width:100%;float:left; margin:40px auto;}
.contents li{float:left;width:48%;margin:1%;}
.contents p{font-size:10px;color:#888;}
.contents span{font-size:12px;color:#333;font-weight:bold;}
.contents img{width:100%;}

















